<form id="newsletter"  action="#">
          <fieldset>
            <legend>Newsletter:</legend>
            <input class="btmspace-15" type="text" value=""  id="search-box" placeholder="Product, Description">
            <button type="submit" id="search-button" value="submit">Submit</button>
          </fieldset>
    </form>
    <div id="search-result"></div>
<script type="application/javascript">
    $( document ).ready(function() {
        $("#search-button").click(function(){
           // alert("with search button click");
            $("#search-result").empty();
            if($("#search-box").val() == null){
                alert("please enter the search term");
            }
            else{
                var searchTerm = $("#search-box").val();
               // alert("search term-->"+searchTerm);
                 $.ajax({
                     url: "http://localhost:8983/solr/collection/select?q="+searchTerm+"&wt=json",
                     dataType: "jsonp",
                     jsonp: 'json.wrf',
                     success: function(result){
                         console.log(result);
                         var numResultsFound = result.response.numFound;
                         if( numResultsFound > 0){
                             $("#search-result").append("<h4> Search results: </h4>");
                             $("#search-result").append("<h5>"+numResultsFound+" found for the search term"+searchTerm+"</h5>");
                             $.each(result.response.docs, function( index, value ) {
                                 var link = "<a href='"+value.url[0]+"'>"+value.title+"</a>";
                                 console.log(link);                                  
                                 $("#search-result").append(link+"<br>");                             
                             });
                         }
                         else{
                              $("#search-result").append("<h4> No results found for search term "+searchTerm+" </h4>"); 
                         }
                     },
                     error: function(){
                         $("#search-result").append("Something went wrong :( ");
                     }
                 });

            }
        });
    });
</script>