<!doctype html>
<html lang="en">
<head>
<sly data-sly-include="partials/head.html" data-sly-unwrap />
<sly data-sly-include="partials/headlibs.html" data-sly-unwrap />
</head>
<body>
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">PHPRO.ORG</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#faq">FAQ</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://phpro.org/tutorials">Tutorials</a></li>
					<li><a href="http://phpro.org/articles">Articles</a></li>
					<li><a href="http://phpro.org/examples">Examples</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>


	<div class="container">
		<!-- content is injected here -->
	<div ng-view></div>

	</div>
	<!-- /container -->
	<sly data-sly-include="partials/footlibs.html" data-sly-unwrap />
</body>

</html>
