<!--/* Header Component for citraining Site 
 
*/-->
 
<header class="wknd-header">
	<div class="container">
		<a class="wknd-header-logo" href="${properties.rootPath || currentStyle.rootPath @ extension='html'}">Citraining</a>
    	<div class="cmp-search--header" data-sly-resource="${'search' @ resourceType='citraining/components/structure/search'}"></div>
    	<div class="cmp-navigation--header" id="header-navbar" data-sly-resource="${'navigation' @ resourceType='citraining/components/structure/navigation'}"></div>	
	</div>
</header>