/* WKND navigation styles */

$nav-item-mobile-top-level-color: #fff;
$nav-item-mobile-hover-color: $brand-primary;
$nav-item-mobile-text-color: #888;
$nav-item-mobile-border : solid 1px rgba(255, 255, 255, 0.05);

@import  "styles/default.scss";
@import  "styles/nav-header.scss";
@import  "styles/nav-mobile.scss";
@import  "styles/nav-footer.scss";